html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: none;
}
strong {
	font-weight: bold;
	color: #FFCC05;
}
body, html {

	font-family: 'PT Sans', sans-serif;
	font-size: 10pt;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background: url('../images/bk.png');
}
textarea {
	width: 450px;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}
#left_sb {
	width: 230px;
	display: block;
	float: left;
	padding: 60px 0px 0px !important;
}
#logo {
	background-image: url('../images/logo.png');
	width: 229px;
	height: 227px;
}
#social {
	display: block;
	float: left;
	margin-left: 138px;
	margin-top: 5px;
	width: 70px;
}
#social ul {
	display: block;
	float: left;
	list-style: none;
}
#social ul li {
	display: block;
	float: left;
	margin: 5px;
}
.red {
	color: #ff0000;
}
#content #submithead {
	float: right;
}
#navigation a {
	background: rgb(255,204,5);
	width: 170px;
	height: 15px;
	padding: 5px 0px;
	margin: 1.5px 23px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	padding-left: 10px;
}
a:active, a:hover, a:focus, a:visited, a {
	color: #000;
	text-decoration: none;
}
#examples {
	display: block;
	float: left;
	width: 180px;
	margin: 10px 23px;
}
#content {
	background: #000;
	width: 450px;
	margin: 0px 20px;
	padding: 60px 20px 20px;
	color: #fff;
	text-align: left;
	display: block;
	float: left;
}
#content h2 {
	background: rgb(255,204,5);
	height: 13px;
	padding: 4px 10px;
	display: block;
	float: left;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	clear: both;
}
#content p {
	clear: both;
	display: block;
	float: left;
	margin: 10px 0px;
	width: 100%;
}
.contenttxt {
	font-weight: normal;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	line-height: 19px;
}
#content ul {
	list-style: disc;
	display: block;
	float: left;
	text-align: left;
	margin-left: 15px;
}
#content ul li {
	line-height: 18px;
}
.overview {
	font-weight: 500;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
#right_sb {
	width: 203px;
	display: block;
	float: left;
	padding: 60px 0px 0px !important;
}
#sbHeader {
	background: url('../images/sbRight-header.png') no-repeat 0 0;
	width: 203px;
	height: 52px;
	display: block;
	float: left;
}
#sbHeader span {
	position: relative;
	right: 0px;
	top: 18px;
	left: 45px;
	font-weight: bolder;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
#sbBody {
	background: url('../images/sbRight-body.png') repeat-y 0 0;
	width: 203px;
	display: block;
	float: left;
	padding-top: 20px;
}
.sbTextHeader {
	background: #fff;
	display: block;
	float: left;
	width: 110px;
	height: 15px;
}
#sbBody ul {
	display: block;
	float: left;
	list-style: disc;
	text-align: left;
	padding: 10px 20px;
}
#sbBody ul li {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px
	font-heihgt: 80%;
	line-height: 18px;
}
.nobullet {
	list-style: none !important;
}
#sbFooter {
	background: url('../images/sbRight-footer.png') no-repeat 0 0;
	width: 203px;
	height: 31px;
	display: block;
	float: left;
}
#contest ul {
	margin-left: 30px;
}
.inputlabel {
	width: 130px;
	display: block;
	float: left;
	padding: 4px 0px;
	text-align: right;
	margin-right: 5px;
}
#errorContainer {
	display: none;
	float: left;
}
input.error {
	border: 2px solid #FA5757;
}
label.error {
	color: red;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	font-size: 10px;
	padding-left: 10px;
}
.formMessage {
	width: 360px;
}
.successbox, .warningbox, .errormsgbox {
	font-weight: bold;
	text-align: left;
	border: 2px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 70px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 203px;
}
.successbox {
	color: #4F8A10;
	width: 100% !important;
	background-color: #EDFCED;
	background-image: url('../images/success.png');
}
.warningbox {
	color: #FFE222;
	background-color: #FAF9C9;
	background-image: url('../images/warning.png');
}
.errormsgbox {
	color: #D8000C;
	background-color: #FDD5CE;
	background-image: url('../images/error.png');
}
/*
 * Uploader
 */

.uploadContainer {
	display: block;
	float: left;
	width: 100%;
	min-height: 45px;
	height: auto;
}
.qq-uploader {
	position: relative;
	width: 100%;
}
.qq-upload-button {
	display: block; /* or inline-block */
	float: left;
	width: 150px;
	padding: 7px 0;
	text-align: center;
	background: rgb(255,204,5);
	border-bottom: 1px solid #ddd;
	color: #000;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}
.qq-success-button {
	background: rgb(92,161,80) !important;
	color: #000;
}
.qq-upload-button-hover {
	background: rgb(255,204,5);
}
.qq-upload-button-focus {
	outline: 1px dotted black;
}
.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 70px;
	z-index: 2;
	background: rgb(255,204,5);
	text-align: center;
}
.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
}
.qq-upload-drop-area-active {
	background: rgb(255,204,5);
}
.qq-upload-list {
	margin: 5px 0px 5px 40px !important;
	padding: 0;
	list-style: disc;
	display: block;
	float: left;
	text-align: left;
}
.qq-upload-list li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	font-size: 12px;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}
.qq-upload-file {
}
.qq-upload-spinner {
	display: inline-block;
	background: url("../images/loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}
.qq-upload-size, .qq-upload-cancel {
	font-size: 11px;
}
.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}
